
body{ background-image: url("cidade.jpeg");
    margin-left: 40%;
}
#a {font-size: large; 
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: white;
    text-decoration: dotted;
    padding: 10px;
   }
.a {color: white;
    display: inline-block;
    font-size: medium;
}
a{ border: 3px solid rgb(166, 166, 168);
    border-radius: 20px;
    padding: 3px;
}
a:hover{
    color: black;
    background-color: aliceblue;
    transition: 900ms;
    transform: scale(1.2);
}  
.nome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
#b {
    padding: 10px;
}
#foto {
    border: 3px solid;
    border-color: aliceblue;
    border-radius: 100%;
    display: inline-block;
    width: 200px;
}
#eu {width: 300px;
    margin-left: 10px;
    display: inline-block;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.local{
    text-decoration-line: underline;
    color: aliceblue;
    font-size: x-large;
    font-style: italic;
}
#c {padding: 10px;
    border-radius: 10px;
}
#me{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
.c{ 
    transition: 900ms;
    display: inline-block;
    color: aliceblue;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}
#d {padding: 10px;
    border-radius: 10px;
}
.el{ font-size: larger;
    color: aliceblue;
}
#e {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.e{
    color: aliceblue;
}

.e:hover{
    display: inline-block;
    color: black;
    background-color: aliceblue;
    transition: 900ms;
    transform: scale(1.2);
}

ul{
    padding: 25px;
    border: 1px solid rgb(230, 235, 233);
    display: inline-block;}

li{
    padding: 10px;
    border: 1px solid rgb(230, 235, 233);
}

li:hover{
    color: black;
    background-color: aliceblue;
    transition: 900ms;
    transform: scale(1.2);
}

h2{
    margin-right: 870px;
    background-color: azure;
    text-decoration-line: underline;

}